<!-- cookie law -->
<div id="cookie-message">Questo sito utilizza cookie di profilazione propri o di terze parti, per saperne di
  più <a href="/privacy-policy">clicca qui</a>
  <button id="cookie-chiudi" class="tiny warning button">OK</button>
</div>