<%
  if !@page.header && !@page.footer
    header = @page.trova_header
  end
%>

<% if header %>
  <% if !user_signed_in? %>
      <div data-sticky-container style="z-index:1000;">
        <div class="top-bar" id="header" data-sticky data-options="marginTop:0;">
  <% end %>
  <%= render(header.rows.order('ordine ASC')) %>
  <% if !user_signed_in? %>
      </div>
      </div>
  <% end %>
<% end %>