<div id="row0" class="collapse row small-up-1 medium-up-2 large-up-5">
  <div class="column">
    <button class="warning button bottone-gigante" title="Crea nuovo contenuto dinamico" onclick="nuovoContenutoDinamico(<%= @page.id %>);">+</button>
  </div>
  <%= render(@page.dinamiche.order('created_at DESC')) %>
</div>