<p id="notice"><%= notice %></p>

<% @page.rows.each do |row| %>
    <div class="<%= "expanded " if row.estesa %>row">
      <% row.columns.each do |column| %>
        <div class="small-<%= column.larghezza %> columns">
          <%= column.contenuto.html_safe %>
        </div>
      <% end %>
    </div>
<% end %>