<p id="notice"><%= notice %></p>

<% @page.rows.each do |row| %>
    <div class="row">
      <% row.areas.each do |area| %>
        <div class="small-<%= area.larghezza %> columns">
          <%= area.contenuto.html_safe %>
        </div>
      <% end %>
    </div>
<% end %>