<h1>Tag cloud</h1>
<p align="center">
  <%
    # trovo il numero di occorrenze massimo
    max = 0
    @tags.each do |tag|
      max = tag[1] if tag[1] > max
    end

  %>

<% @tags.each do |tag|
  dimensione = 0.5 + (5.0 * tag[1].to_f / max).round(2)
%>
  <span style="font-size: <%= dimensione %>em;"><a href="/search?q=<%=u tag[0] %>"><%= tag[0].html_safe %></a></span>
<% end %>
</p>