// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero_background {
  // per sfuocare un'immagine
  -webkit-filter: blur(100px);
  -webkit-transform: translate3d(0, 0, 0);
}

.bordo_layout {
  border-color: #ffccff !important;
  border-style: dashed;
  border-width: 1px;
}