// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-bar {
  background: #333;
  padding: 0rem;
}

.top-bar {
  padding: 0rem !important;
  background: #333;
}
.top-bar ul {
  background: #333;
}
.top-bar ul li {
  background: #333;
  font-size: 1em;
  margin-left: 0;
}
.top-bar ul li a {
  color: #fff;
}

.menu-text {
  color: #fff;
  padding: 0 !important;
}

@media only screen and (max-width: 40em) {
  .menu-text {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e;
  }
}

.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}

.hero_background {
  // per sfuocare un'immagine
  -webkit-filter: blur(100px);
  -webkit-transform: translate3d(0, 0, 0);
}

.bordo_layout {
  border-color: #ffccff !important;
  border-style: dashed;
  border-width: 1px;
}

.bordo-dinamico {
  border-color: #ffa400 !important;
  border-style: solid;
  border-width: 1px;
}

#row0 {
  border-color: #ffa400 !important;
  border-style: solid;
  border-width: 5px;
}

.OFF_inline-editor {
  padding: 10px !important;
}

.gestione-immagini {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  font-size: 1em;
  text-align: right;

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 59, 132, 0.7);
}

.info-layout {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  font-size: 1em;
  text-align: right;

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 132, 38, 0.7);
}

.slide {
  position: relative;
}

.titolo-slide {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  font-size: 1em;
  text-align: left;

  min-height: 80px;

  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #fff;
}

.orbit-caption {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  background-color: #fff;
}


.gestione-immagini > button {
  color: #ffffff;
}

.gestione-immagini > button:visited {
  color: #ffffff;
}

.gestione-immagini > button:hover {
  color: #ff0000;
  background: none;
}

.column_image_titolo {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.column_image_titolo_small {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.column_image_descrizione {
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 63.9375em) {
  .column_image_titolo_small {
    font-size: 1.5em;
  }

  .column_image_descrizione {
    font-size: 1.2em;
  }
}

.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #2d2c2c;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}

p {
  font-size: 1.4em;
  line-height: 1.4em;
  text-align: justify;
  color: #696969;
}

li {
  margin-left: 2em;
  font-size: 1.4rem;
  line-height: 1.2em;
  color: #696969;
}

.abstract {
  color: #808080;
  font-style: italic;
}

.autore {
  color: #808080;
  font-weight: bold;
}

.data {
  color: #808080;
}

.titolo-ricerca {
  font-size: 1.2em;
  color: #3c3c3c;
  font-weight: bold;
}

.info-ricerca {
  font-size: 0.8em;
  color: #494949;
}

.descrizione-ricerca {
  font-size: 0.9em;
  line-height: 1;
  color: #808080;
  font-style: italic;
}

.fonte a {
  color: #808080;
  padding-left: 3em;
  &:visited {
    color: #A9A9A9;
  }
  &:hover {
    color: #808080;
    font-decoration: underline;
  }
}

.etichetta {
  margin: 0;
  list-style-type: none;
}

.etichetta > li {
  display: inline-block;
  font-size: 0.8rem;
  background-color: #1583cc;
  color: #fefefe;
  padding: 0.5rem 0.7rem;
  margin: 0.2em;
  line-height: 1;
  border-radius: 3px;
}

#cerca {
  font-size: 1.2em;
  color: #808080;
  padding: 1.5em 1em;
}

.form-cerca {

}