// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-bar {
  padding: 0rem !important;
}

.menu-text {
  padding: 0 !important;
}

.hero_background {
  // per sfuocare un'immagine
  -webkit-filter: blur(100px);
  -webkit-transform: translate3d(0, 0, 0);
}

.bordo_layout {
  border-color: #ffccff !important;
  border-style: dashed;
  border-width: 1px;
}

.bordo-dinamico {
  border-color: #7aff24 !important;
  border-style: dashed;
  border-width: 1px;
}

#row0 {
  border-color: #009115 !important;
  border-style: solid;
  border-width: 3px;
}

.inline-editor {
  padding: 10px !important;
}

.gestione-immagini {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  font-size: 1em;
  text-align: right;

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 59, 132, 0.7);
}

.slide {
  position: relative;
}

.titolo-slide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  font-size: 1em;
  text-align: left;


  min-height: 80px;

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}

.gestione-immagini > button {
  color: #ffffff;
}

.gestione-immagini > button:visited {
  color: #ffffff;
}

.gestione-immagini > button:hover {
  color: #ff0000;
  background: none;
}

.column_image_titolo {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.column_image_descrizione {
  color: #ffffff;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #2d2c2c;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}

.miostile {
  color: #f00;
}

