// Place all the styles related to the Photoalbums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropzone {
  border: 2px dashed #0087F7 !important;
  border-radius: 5px !important;
  background: white !important;
}