<p>Ciao <%= @resource.email %>!</p>

<p>E' stata inviata una richiesta per cambiare la tua password. Puoi farlo cliccando sul link che segue.</p>

<p><%= link_to 'Cambia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai fatto tu questa richiesta, ignora tranquillamente questa email: i tuoi dati sono ancora al sicuro.</p>
