<% if object.errors.any? %>
    <div data-abide-error class="alert callout">
      <ul>
        <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>