<!DOCTYPE html>

<html class="no-js" lang="it">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Oratorio don Bosco</title>
    <link rel="stylesheet" media="all" href="/assets/application-e0d63c957589d198bbe445508072f255.css" data-turbolinks-track="true" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
    <link rel="stylesheet" href="/css/jquery.contextMenu.min.css" />
    <link rel="stylesheet" href="/css/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/assets/application-ca4a08ac84b32e0baf66015f2f6a1cb7.js" data-turbolinks-track="true"></script>
    <script src="/js/what-input.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="dzPnzFulNdqlg7ceYRdPHEFKZHUokw2aM2Nmskg7mkeW4dMHEsCXF3Ov/xdzbZZUXGVCdS6OWlk7Es3Yg5wtSg==" />
</head>

<body class='pages'>

<!-- Menu amministrativo -->


<div class="reveal" id="finestra_modale" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div data-sticky-container>
    <div class="sticky" data-sticky data-options="marginTop:0;" style="width:100%; z-index:999;">

        <div style='background: #434343;'>
            <div id="row4" class="collapse row">
                <div id="weditr7" class="large-12 column" style="position: relative;">
                    <div id="editor7">
                        <ul class="dropdown menu">
                            <li>&nbsp;</li>
                            <li><a class="button" href="/login">LOGIN</a></li>
                            <li><a class="secondary button" href="/">HOME &nbsp;</a></li>
                            <li><a class="secondary button" href="/ads">ADS</a></li>
                            <li><a class="secondary button" href="/cinema">CINEMA</a></li>
                            <li><a class="secondary button" href="/missioni">MISSIONI</a></li>
                            <li><a class="secondary button" href="/scout">SCOUT</a></li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>






<div style='background: #ffffff;'>
    <div id="row13" class="collapse row">
        <div id="slider32" class="large-12 column mioslider" style="position: relative;">

            <div class="slide slick-slide">
                <img src="/img/column/623d17029795b3f28172c3436d154bef40802ce5.jpg?1477945241" style="width: 100%;">


            </div>
            <div class="slide slick-slide">
                <img src="/img/column/5f180357b1d72300d8b5359ba67ea152ade2f817.jpg?1477946782" style="width: 100%;">


            </div>
            <div class="slide slick-slide">
                <img src="/img/column/a8fe1a75f482b9a9f5f68bacc7d99612a59ac3e8.jpg?1477946883" style="width: 100%;">


            </div>


        </div>
    </div>
</div>


<div style='background: #ffffff;'>
    <div id="row31" class="collapse row">
        <div id="image_69" class="large-3 column" style="position: relative;">
            <img style="width: 100%;" src="/img/column/709bd547038cac0abd38941c93a75ecfe092cb70.jpg?1477946377" alt="709bd547038cac0abd38941c93a75ecfe092cb70" />


        </div>
        <div id="image_70" class="large-6 columns" style="position: relative;">
            <a href="http://www.sdb.org/it/rettor-maggiore-it/1036-strenne-rm-prog/4715-strenna-2017-presentazione-lemma.html">
                <img style="width: 100%;" src="/img/column/4834112f514d063aa6ecdef7997cb82fdf138749.jpg?1477989807" alt="4834112f514d063aa6ecdef7997cb82fdf138749" />


            </a>
        </div>
        <div id="slider90" class="large-3 column mioslider" style="position: relative;">

            <div class="slide slick-slide">
                <a href="/cinema">
                    <img src="/img/column/3c93fbfcc9d4aefe7f502bd931c67bc0e4e5e221.jpg?1477990305" style="width: 100%;">
                </a>


            </div>
            <div class="slide slick-slide">
                <a href="/cinema">
                    <img src="/img/column/51077baeeb29cbae7a64eb71f2f42817234db2f9.jpg?1477990313" style="width: 100%;">
                </a>


            </div>


        </div>
    </div>
</div>


<div style='background: #ffffff;'>
    <div id="row33" class="collapse row">
        <div id="image_75" class="large-3 columns" style="position: relative;">
            <a href="https://www.facebook.com/inoratorio/photos/?tab=album&amp;album_id=1114975831911585">
                <img style="width: 100%;" src="/img/column/339dcb580cd18e641001c45eea25a125ca634060.jpg?1477946592" alt="339dcb580cd18e641001c45eea25a125ca634060" />

                <figcaption class='orbit-caption'>
                    <p class='column_image_titolo_small'>ONLINE LA FESTA DI APERTURA</p>
                    <p class='column_image_descrizione hide-for-large'>Giornata fantastica, graziati dal meteo... si parte pimpanti, alla grande!!!</p>
                </figcaption>

            </a>
        </div>
        <div id="image_76" class="large-3 columns" style="position: relative;">
            <a href="https://www.facebook.com/inoratorio/photos/?tab=album&amp;album_id=1114975831911585">
                <img style="width: 100%;" src="/img/column/b9639ddb09d72102906d15f2b2881f57ea67f540.jpg?1478017038" alt="B9639ddb09d72102906d15f2b2881f57ea67f540" />

                <figcaption class='orbit-caption'>
                    <p class='column_image_titolo_small'>ON-LINE LA FESTA DI APERTURA!</p>
                    <p class='column_image_descrizione hide-for-large'>Giornata fantastica, graziati dal meteo... si parte pimpanti, alla grande!!</p>
                </figcaption>

            </a>
        </div>
        <div id="image_77" class="large-3 columns" style="position: relative;">
            <a href="https://www.facebook.com/inoratorio/photos/?tab=albums">
                <img style="width: 100%;" src="/img/column/015c90b689167368dbf56a5dd0815da429f3ab82.jpg?1478016965" alt="015c90b689167368dbf56a5dd0815da429f3ab82" />

                <figcaption class='orbit-caption'>
                    <p class='column_image_titolo_small'>FOTO DEI CAMPI</p>
                    <p class='column_image_descrizione hide-for-large'>Ecco pubblicate finalmente tutte le foto di tutti i campi ADS dell&#39;estate 2016!</p>
                </figcaption>

            </a>
        </div>
        <div id="weditr78" class="large-3 columns" style="position: relative;">
            <div id="editor78">

            </div>

        </div>
    </div>
</div>



<div style='background: #3d3d3d;'>
    <div id="row3" class="full-width collapse row">
        <div id="image_4" class="large-2 column" style="position: relative;">
            <a href="/">
                <img style="width: 100%;" src="/img/column/e9ea8aaae3eb278b515fc36527287284877c2850.png?1475341507" alt="E9ea8aaae3eb278b515fc36527287284877c2850" />


            </a>
        </div>
        <div id="weditr6" class="large-1 column" style="position: relative;">
            <div id="editor6">

            </div>

        </div>
        <div id="weditr5" class="large-3 column" style="position: relative;">
            <div id="editor5">
                <p style="text-align: left;"><span style="color:#FFFFFF;"><span style="font-size: 16px;"><b>ORATORIO DON BOSCO</b></span><br />
<span style="font-size:12px;">via XIII Martiri, 86<br />
30027 San Don&agrave; di Piave (VE)<br />
<strong>Tel. 0421 338911</strong></span></span></p>

            </div>

        </div>
        <div id="weditr3" class="large-6 column" style="position: relative;">
            <div id="editor3">
                <p style="text-align: left;"><span style="color:#FFFFFF;"><span style="font-size:16px;"><strong>Seguici sui social:</strong></span></span></p>

                <p style="text-align: left;"><a href="https://www.facebook.com/inoratorio/"><span style="color:#FFFFFF;"><img alt="" src="/img/ck/a971addb4cd7106b15176c07708feee0d8212281.png" style="width: 30px; height: 30px;" /></span></a></p>

            </div>

        </div>
    </div>
</div>



<script>
    $(function() {
        $('.mioslider').slick('unslick');
        $('.mioslider').slick({
            slidestoshow: 1,
            slidestoscroll: 1,
            autoplay: true,
            autoplayspeed: 2000,
            zIndex: 100,
            arrows: true
        });
    });

</script>


<script>
    $(function() {
        $(document).foundation();
        // setTimeout(function() { $(document).foundation('topbar', 'init');}, 250);
    });
</script>

</body>
</html>